/* ADAPTANDO A NAVBAR */

.navbar {
    padding: .1px 1rem;
  }
  
  /* Usuario logado */
  .user{
            
    -webkit-text-fill-color: #D3D3D3;
  }

   .cor{
        
        text-align: justify;  
          font-size: xx-large;
         text-emphasis-color: #D3D3D3;
         -webkit-text-fill-color: #D3D3D3;
        }

/* =========== */

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #353a40;
    
}

.loginbox {
    width: 500px;
    height: 500px;
    background: #000;
    color: #FFF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;  
    padding: 70px 30px;
}

.cadastrobox {
    width: 550px;
    height: 550px;
    background: #000;
    color: #FFF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;  
    padding: 70px 30px;
}

.helpbox {
    width: 500px;
    height: 500px;
    background: #000;
    color: #FFF;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;  
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 20px;
    }

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.cadastrobox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.helpbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 15px;
    }

.cadastrobox input{
    width: 100%;
    margin-bottom: 15px;
    }

    .helpbox input{
        width: 100%;
        margin-bottom: 15px;
        }

.loginbox input[type="text"], input[type="password"], input[type="number"]
{
    border: none;
    border-bottom: 1px solid #FFF;
    background: transparent;
    outline: none;
    height: 30px;
    color: #FFF;
    font-size: 16px;
}

.cadastrobox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #FFF;
    background: transparent;
    outline: none;
    height: 30px;
    color: #FFF;
    font-size: 16px;
}

.verificarota input[type="button"]
{
    
    position: relative;
    left: 500px;
    order: none;
    outline: none;
    width: 300px;
    height: 40px;
    background: #027223;
    color: #FFF;
    font-size: 18px;
    border-radius: 20px;
}
.verificarota input[type="button"]:hover{
    cursor: pointer;
    background: #269F2A;
    color: #FFF;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #027223;
    color: #FFF;
    font-size: 18px;
    border-radius: 20px;
}

.cadastrobox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #002677;
    color: #FFF;
    font-size: 18px;
    border-radius: 20px;
}

.helpbox input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #002677;
    color: #FFF;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #269F2A;
    color: #FFF;
}

.cadastrobox input[type="submit"]:hover{
    cursor: pointer;
    background: #212B97;
    color: #FFF;
}

.helpbox input[type="button"]:hover{
    cursor: pointer;
    background: #212B97;
    color: #FFF;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
}

.cadastrobox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
}

.helpbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
}

.loginbox a:hover
{
   color: #269F2A; 
}

.cadastrobox a:hover
{
   color: #212B97; 
}

.helpbox a:hover
{
   color: #212B97; 
}

/*CSS PARA A MODAL */

.window{
    display:none;
    width:300px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}
 
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
 
.fechar{
         text-align:end;
         display:block;
         
         }
        
